* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.6);
-webkit-box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.6);
-moz-box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.6);
}
